* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


body {
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
   padding: 0.5rem;
}

.pt {
   padding-top: 1rem;
}

.mb {
   margin-bottom: 1rem;
}

.mh {
   margin-left: 5%;
   margin-right: 5%;
}
